* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(205, 205, 228);
}

section {
    padding: 60px;
}

header {
    padding: 20px 35px;
    background-color: rgb(105, 105, 105);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
}

h2 {
    font-size: 40px;
    text-align: center;
}

.border {
    border-style: solid;
    border-top: 3px;
    border-left: 0;
    border-right: 0;
    text-align: center;
    width: 50%;
    margin-left: 475px;
}

header h1 {
    font-size: 50px;
}

header a {
    text-decoration: none;
    color: rgb(205, 205, 228);
    background-color: rgb(105, 105, 105);
}

header nav {
    margin: 7px 0px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: rgb(205, 205, 228);
    border-radius: 15px;
    color: olive;
}

.about {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    border: 10px;
    border-style: solid;
    border-color: olive;
    margin-bottom: 10px;
    margin-top: 10px;
}

.about p {
    flex: 1;
    padding: 50px;
    font-size: 20px;
    line-height: 1.5;
}

.about img {
    width: 20%;
    border-radius: 10px;
}

.portrait {
    text-align: center;
    margin-bottom: 20px;
}

.projects {
    border: 10px;
    border-style: solid;
    border-color: olive;
}

.runbuddy {
    text-align: center;
}

.runbuddy img {
    width: 80%;
    padding: 25px;
    border-radius: 30px;
}

.robots {
    text-align: center;
}

.robots img {
    width: 40%;
    padding: 25px;
    border-radius: 30px;
}

.horiseon {
    text-align: center;
}

.horiseon img {
    width: 40%;
    padding: 25px;
    border-radius: 30px;
}

.contact {
    text-align: center;
}